.multi-set-indicator {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
  background-color: var(--color-gray-darker);
  border-radius: 999px;
  margin: var(--spacing-md) 0;
}

.multi-set-indicator__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-gray-dark);
  transition: all var(--animation-duration-fast) ease;
}

.multi-set-indicator__dot--active {
  background-color: var(--color-white);
  width: 16px;
  height: 16px;
}

.multi-set-indicator__dot--completed {
  background-color: var(--color-gray-dark);
}

.multi-set-indicator__dot--upcoming {
  background-color: var(--color-gray-dark);
}
