.exercise-list {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.exercise-list__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xl);
  padding-top: var(--spacing-lg);
}

.exercise-list__exercises {
  flex: 1;
  margin-bottom: var(--spacing-xl);
}

.exercise-list__actions {
  position: sticky;
  bottom: 0;
  padding: var(--spacing-md) 0;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
}

