.set-progress-indicator {
  display: flex;
  align-items: center;
  gap: 4px;
  flex: 1;
}

.set-progress-indicator__line {
  height: 12px;
  border-radius: 9px;
  flex: 1;
  box-sizing: border-box;
}

.set-progress-indicator__line--upcoming {
  height: 12px;
  background-color: var(--color-gray-dark);
}

.set-progress-indicator__line--completed {
  background-color: var(--color-white);
}

.set-progress-indicator__line--current {
  height: 12px;
  background-color: var(--color-gray-dark);
  border: 2px solid var(--color-white);
}

.set-progress-indicator__line--completed-all {
  height: 12px;
  background-color: var(--color-accent);
}
