.set-card {
  padding: var(--spacing-sm);
  background-color: var(--color-gray-darker);
  border-radius: 0.5rem;
}

.set-card__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: var(--spacing-xs);
}

.set-card__name {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  margin: 0;
}

.set-card__duration {
  font-size: var(--font-size-base);
  color: var(--color-text-light);
}
