.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xl);
  padding-top: var(--spacing-lg);
}

.home__workouts {
  flex: 1;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

